#ex01 article {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex01 article:hover {
  transform: scale(1.1);
}

#ex02 article img {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex02 article:hover img {
  transform: rotate(5deg);
}

#ex03 img {
  transition-property: color, opacity;
  transition-duration: 0.5s;
}

#ex03 img:hover {
  color: orangered;
  opacity: 0.5;
}

#ex04 article .recipe-header {
  transition-property: transform;
  transition-duration: 0.3s;
}

#ex04 article:hover .recipe-header {
  transform: translateX(15px);
}

#ex05 article .recipe-header {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}

#ex05 article:hover .recipe-header {
  transform: translateX(20px);
}

#ex06 article {
  transition-property: padding-bottom;
  transition-duration: 0.5s;
}

#ex06 article:hover {
  padding-bottom: 30px;
}

#ex07 article {
  transition-property: padding-bottom;
  transition-duration: 0.5s;
}

#ex07 .recipe-title {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex07 article:hover {
  padding-bottom: 35px;
}

#ex07 article:hover .recipe-title {
  transition-delay: 0.2s;
  transform: translateY(40px);
}
