#ex01 article {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex01 article:hover {
  transform: scale(1.1);
}

#ex02 article img {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex02 article:hover img {
  transform: rotate(5deg);
}

#ex03 img {
  transition-property: color, opacity;
  transition-duration: 0.5s;
}

#ex03 img:hover {
  color: orangered;
  opacity: 0.5;
}

#ex04 article .recipe-header {
  transition-property: transform;
  transition-duration: 0.3s;
}

#ex04 article:hover .recipe-header {
  transform: translateX(15px);
}
